<div class="panel panel-info">
	<div class="panel panel-heading">
		<h2>New Loan Record</h2>Add all required fields to produce accurate Pdf files
	</div>
	<div class="panel panel-body">
		<%= render 'form', record: @record %>

		<%=#link_to " View Pdf ", pdf_pages_index_path(rec_id: 1), class: "btn btn-primary btn-sm" 
		%>
		<%= #link_to 'Back', records_path 
		%>
	</div>
</div