<div class="panel panel-default">  


	<div class="panel-heading">

		<h1>Editing Book</h1>
	</div>
<!-- <div class="panel-body"> -->


	<%= render 'form', book: @book %>


<!-- </div> -->
	<div class="btn btn-default"><%= link_to 'View', @book %> </div>
	<div class="btn btn-default"><%= link_to 'All Books', books_path %></div>
</div>