<div class="panel panel-default"> 
	<h1>Section Layout</h1>

<%= #@layouts[0].name 
%>
	<%= render 'form', page_layout: @page_layout %>

	<%= link_to 'Back', page_layouts_path %>

<%= # render "sort/layouts" 
%>

</div>