<div class="panel panel-default"> 
	<div class="panel-heading"> 
		<p id="notice"><%= notice %></p>
	</div>
	<div class="">
		<div class="row">
		<div class="col-md-2">
			<div class="panel-body"> 
		  	<div class="btn btn-info" id="notice">
		  		<% link_to "Pdf By Record" map_index_path %> </div>
				<div class="btn btn-info" id="notice">View Contracts</div>
			</div>
		</div>
		</div>
	</div>
	<%  %>
</div>