<div class="panel panel-default"> 
	<div class="panel-heading"> 
		<p id="notice"><%= notice %></p>
	</div>
	<div class="">
		<div class="row">
			<div class="col-md-2">
				<div class="panel-body"> 
		  			<% link_to "Pdf By Record", maps_path %> </div>
				<div class="btn btn-info" id="notice">View Contracts </div>
			</div>
		</div>
		</div>
	</div>
	<%  %>
</div>